<launch>

<rosparam file="$(find ASSY-PT-1.2_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="ASSY-PT-1.2" args="Rev2_position_controller Rev5_position_controller Rev10_position_controller Rev15_position_controller Rev18_position_controller Rev21_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/ASSY-PT-1.2/joint_states"/>
</node>

</launch>